
{% block header %}
{{ include("ATCAppBundle:Default:header.html.twig") }}
{% endblock %}

<div class="view">
    <img src="{{  asset('img/fond.gif') }}" class="fond">
    

     <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="text-center white-text mx-5 wow fadeIn">

        <!-- Section heading -->
        <h1 class="display-4 mt-5 mb-6">  Il faut avoir du courage pour affronter l'ile... Bravo <u>{{ pseudo }}</u> ! </h1>
        <h2 class="mb-5"> Maintenant choisis ton niveau de difficulté.</h2>
     
        <!-- Grid row -->

          <div class="row black-text justify-content-center">

            <!--Grid column-->
            <div class="col-lg-3 col-md-4 mb-lg-2 mb-5 ">
              <!--Card-->
              <div class="card testimonial-card">
                <!--Background color-->
                <div class="card-up info-color"></div>
                <!--Avatar-->
                <div class="avatar mt-2 mx-4 white">
                  <img src="{{ asset('img/fox.gif') }}" class="rounded-circle img-fluid">
                </div>
                <div class="card-body">
                  <!--Name-->
                  <h4 class="font-weight-bold mb-2">FACILE</h4>
                  <div class="orange-text">
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                  <hr>
                  <!--Quotation-->
                  <p class="dark-grey-text mb-2"><i class="fas fa-quote-left pr-2"></i>Ici les test seront constitué d'image et de truc nul connard</p>
                     <a href="{{ path('questionnaire_facile') }}" class="btn peach-gradient">JOUER </a>
                </div>
              </div>
              <!--Card-->
            </div>
           
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-10">
              <!--Card-->
              <div class="card testimonial-card">
                <!--Background color-->
                <div class="card-up blue-gradient">
                </div>
                <!--Avatar-->
                <div class="avatar mt-2 mx-4 white">
                  <img src="{{ asset('img/panda.gif') }}" class="rounded-circle img-fluid">
                </div>
                <div class="card-body">
                  <!--Name-->
                  <h4 class="font-weight-bold mb-2">MOYEN</h4>
                  <div class="orange-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="far fa-star"> </i>
                  </div>
                  <hr>
                  <!--Quotation-->
                  <p class="dark-grey-text mb-2"><i class="fas fa-quote-left pr-2"></i>Oci tu vas en prendre plein le cul pd de tes morts</p>
                     <a href="{{ path('questionnaire_moyen') }}" class="btn peach-gradient">JOUER </a>
                </div>
                
              </div>
              <!--Card-->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-10">
              <!--Card-->
              <div class="card testimonial-card">
                <!--Background color-->
                <div class="card-up indigo"></div>
                <!--Avatar-->
                <div class="avatar mt-2 mx-4 white">
                  <img src="{{ asset('img/lion.gif') }}" class="rounded-circle img-fluid">
                </div>
                <div class="card-body">
                  <!--Name-->
                  <h4 class="font-weight-bold mb-2">DIFFICILE</h4>
                  <div class="orange-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                  </div>
                  <hr>
                  <!--Quotation-->
                  <p class="dark-grey-text mb-2"><i class="fas fa-quote-left pr-2"></i>on va prendre ta mere tellemen fort que t'aura plus jamais de frere </p>
                   <a href="{{ path('questionnaire_difficile') }}" class="btn peach-gradient">JOUER </a>
                </div>
                  
              </div>
              <!--Card-->
            </div>
            <!--Grid column-->

          </div>
        <!-- Grid row -->

      </div>
    </div>
</div>

{% block footer %}
  {{ include("ATCAppBundle:Default:footer.html.twig") }}
{% endblock  %}
