{% extends "ATCAppBundle::index.html.twig" %}



{% block body %}
<div class= "responsive bg-transparent">
    
     <!-- Mask & flexbox options-->

     <!-- Content -->
     <div class="responsive text-center white-text ">

        
        <h1 class="display-4  mb-6"> <b><u>{{ questionnaire.titre }}</u></b> </h2>
        <!-- Section heading -->
        <h4 class="display-4 mt-4 mb-6">
        {% set numero_question = app.request.attributes.get('numero_question')|number_format %}
        Question N° <a  value="1" >{{ numero_question + 1 }}</a> / 50 : </h4>
                
        <h2 class="display-4 mb-5 mt-4" ><b>{{ listeQuestions[numero_question].intitule }}</b></h2>
         
        <!-- Grid row -->
        <div class="row justify-content-center">
            <div class="col-sm">
                <button name ="rep" id="rep0"   value="{{ listeQuestions[numero_question].reponseunjuste }}" 
                class="btn btn-lg  btn-primary col-xs-12 col-md-8"><b>{{ listeQuestions[numero_question].reponseunjuste }}</b></button>
                <button name ="rep" id="rep1"  value="{{ listeQuestions[numero_question].reponsedeuxfausse }}" 
                class="btn btn-lg  btn-danger  col-xs-12 col-md-8"><b>{{ listeQuestions[numero_question].reponsedeuxfausse }}</b></button>
            </div>
            <div class="col-sm">
                <button  name ="rep" id="rep2" value=" {{ listeQuestions[numero_question].reponsetroisfausse }}" 
                class="btn btn-lg  btn-warning col-xs-12 col-md-8"><b>{{ listeQuestions[numero_question].reponsetroisfausse }}</b></button>
                <button  name ="rep" id="rep3" value=" {{ listeQuestions[numero_question].reponsequatrefausse }}" 
                class="btn btn-lg  btn-success col-xs-12 col-md-8"><b>{{ listeQuestions[numero_question].reponsequatrefausse }}</b></button>
            </div>            
        </div>
        <!-- Grid row -->


        <div class="progress mt-4 mb-6" style="height:40px">
           
            <div  id="progress_bar" class="progress-bar progress-bar-striped progress-bar-animated bg-success"  role="progressbar" style="width:0%">
                <b><a id="score" >{% set score = app.request.attributes.get('score')|number_format %}{{ score }}</a> points</b>
            </div>
        </div> 
         
      </div>
    
</div>
{% endblock %}

{% block modaux %}
 {{ include("ATCAppBundle:Questionnaire:modal.html.twig") }}
{% endblock %}

{% block footer %}
{{ parent() }}
<script src='{{ asset("js/questionnaire.js") }}' ></script>
{% endblock %}