{% extends "ATCAppBundle::index.html.twig" %}



{% block body %}

{# ON RECUPERE LE SOCRE ET LA NUMERO DE QUESTION PASSEE DANS L'URL #}
{% set numero_question = app.request.attributes.get('numero_question')|number_format %}
{% set score = app.request.attributes.get('score')|number_format %}


{# ON DEFINIT LA VALEUR DU TITRE #}
{% set titre =  questionnaire.titre %}


{# ON DEFINIT LA VALEUR DE LA DIFFICULTE POUR LE PASSER EN PARAMENTRE POUR LA PAGE SCORE #}
{% if questionnaire is defined %}
  {% set difficulte =  questionnaire.difficulte.nom %}
{% elseif questionnaireMath is defined %}
  {% set difficulte = questionnaire.difficulte.nom  %}
{% endif %}

{# ON DEFINIT LA VALEUR DE LA QUESTION #}
{% if listeQuestions is defined %}
  {% set question =  listeQuestions[numero_question] %}
{% elseif questionObj is defined %}
  {% set question = questionObj %}
{% endif %}


<div class= " bg-transparent">
    
     <!-- Mask & flexbox options-->

     <!-- Content -->
      <div class=" white-text " style="max-height:350px;">
            <!--<div class="d-flex justify-content-start bd-highlight">-->
            <div id='titre' class="display-4 mb-2 mt-3 p-2 lg-5 bd-highlight"> <b>{{ titre }}</b> </div>
            <div class="display-4 mb-2 mt-3 p-2 bd-highlight"><u>Question N° <a id="numero_question" >{{ numero_question + 1 }}&nbsp;</u></a></div>
            <div id="countdown" style="margin-top:50px;">
                <div id="countdown-number"></div>
                <svg >
                <circle id="cercle" cx="90" cy="90" r="60"></circle>
                </svg>
            </div>
      </div>
        <!-- Section heading -->
        
                
      <h2 class="display-4 mb-5 mt-4" style="margin-bottom:10px;" ><b>{{ question.intitule }}</b></h2>
          
        <!-- Grid row -->
        <div class="row justify-content-center">
            <div class="col-sm">
                <button href="" name ="rep" id="rep0"   value="{{ question.reponseunjuste }}" 
                class="btn btn-lg  btn-primary col-xs-12 col-md-8" 
                 ><b><i class="fas fa-question"></i>{{ question.reponseunjuste }}</b></button>
                <button name ="rep" id="rep1"  value="{{ question.reponsedeuxfausse }}" 
                class="btn btn-lg  btn-danger  col-xs-12 col-md-8"
                ><b>{{ question.reponsedeuxfausse }}</b></button>
            </div>
  
            <div class="col-sm">
                <button  name ="rep" id="rep2" value=" {{ question.reponsetroisfausse }}" 
                class="btn btn-lg  btn-warning col-xs-12 col-md-8"
               ><b>{{ question.reponsetroisfausse }}</b></button>
                <button  name ="rep" id="rep3" value=" {{ question.reponsequatrefausse }}" 
                class="btn btn-lg  btn-success col-xs-12 col-md-8"
                data-toggle="popover" title="Mince..." data-content="Ce n'étais pas la bonne réponse" data-placement="right"><b>{{ question.reponsequatrefausse }}</b></button>
            </div>        
            
        </div>
        
        <div class="col-sm" style="float:right; margin-left:1200px; margin-top:-650px; ">
          <div class="progress progress-bar-vertical">
              <div class="bg-white-50" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 100%;">
             {#   <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave"><path id="feel-the-wave" d=""/></svg> #}
                 <b><a id="score" >{{ score }}</a> points</b>
             </div>
         </div>  
         
       </div>
        <!-- Grid row -->
        <!-- <div class="container">
            <div class="progress progress-bar-vertical">
              <div class="bg-white-50" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 100%;">
                       <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave"><path id="feel-the-wave" d=""/></svg>
                  </div>
              </div>
          </div> -->
      
</div>

{# MODAL DERNIERE QUESTION ATTEINT  #}
<div class="modal fade" id="centralModalScore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">&nbsp;FELICITATIONS&nbsp;<i class="fas fa-trophy fa-lg" style="color: white;"></i></p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-trophy fa-4x mb-3 animated rotateIn"></i>
          <p><i class="fas fa-star fa-spin fa-lg"></i>&nbsp;Tout nos félicitations !&nbsp;<i class="fas fa-star fa-spin fa-lg"></i></p><p> Tu viens de finir le questionnaire !</p>
          <p>Tu peux des a present voir ton score ! </p>
        </div>
      </div>
    
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a  href="{{ path('score' ,{  'nom_questionnaire'  : questionnaire.titre,
                                      'theme_questionnaire' : questionnaire.theme.nom,
                                      'difficulte_questionnaire' : questionnaire.difficulte.nom,
                                      'score' : score }) }}"  class="btn btn-outline-warning waves-effect">&nbsp;Voir le score&nbsp;</i></a>
       
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

{% endblock %}

{% block modaux %}
 {{ include("ATCAppBundle:Questionnaire:modal.html.twig") }}
{% endblock %}

{% block footer %}
{{ parent() }}
<script src='{{ asset("js/questionnaire.js") }}' ></script>
<script src='{{ asset("js/wavify.js") }}' ></script>
<script src='{{ asset("js/jquery.wavify.js") }}' ></script>
<style>

    .container { margin-top: 10px; }

    .progress-bar-vertical {
    width: 150px;
    min-height: 800px;
    display: flex;
    align-items: flex-end;
    margin-left: 100%;
    float: left;
    }

    .progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    }

        #countdown {
          position: relative;
          margin: auto;
          margin-top: 100px;
          margin-bottom: -100px;
          height: 300px;
          width: 300px;
          text-align: center;
            
        }
        
        .circle {
          padding:1px;
          width:300px;
          height:300px;
          border-style: solid;
          border-color:transparent;
           border-radius: 50%;
          border-width:1px;
          animation:rot 1s linear infinite; 
          padding:1px;
        }
        .circle > div {
          background:white;
          height: 299px;
          width: 299px;
          border-style: solid;
           border-radius: 50%;
          border-width:1px;
         
          
          
        }
    
    
        #countdown-number {
          color: greenyellow;
          display: inline-block;
          line-height: 80px;
          font-size: 90px;
        }
        
        svg {
          position: absolute;
          top: -170px;
          right: 0;
          left:-60px;
          width: 100%;
          height: 100%;
          transform: rotateY(-180deg) rotateZ(-90deg);
          
          
        }
    
        svg circle {
          stroke-dasharray: 400px;
          stroke-dashoffset: 0px;
          stroke-linecap: round;
          stroke-width: 15px;
          stroke: greenyellow;
          fill: none;
          animation: countdown 20s linear forwards; /* changer la valeur en s pour rentre proportionnel le décompte du timer a la disparition du cercle*/
    
          
        }
        
        @keyframes countdown {
          from {
            stroke-dashoffset: 0px;
          }
          to {
            stroke-dashoffset: 400px;
          }
        }</style>

        <script>
            var countdownNumberEl = document.getElementById('countdown-number');
            var countdown = 20;
            
            countdownNumberEl.textContent = countdown;
            
            setInterval(function() {
              countdown = --countdown <= 0 ? 0 : countdown;
              
              countdownNumberEl.textContent = countdown;
              if(countdown==10){
                document.getElementById('countdown-number').style.color = "orange";

              } else if (countdown==5){
                document.getElementById('countdown-number').style.color = "red";
              }

            }, 1000);
        </script>

        <script>

          $('#feel-the-wave').wavify({
          height: 80,
          bones: 50,
          amplitude: 15,
          color: 'rgba(4, 98, 174, 0.74)',
          speed: .30
          });
</script>

{% endblock %}