{% extends "ATCAppBundle::index.html.twig" %}



{% block body %}
<div class= "responsive bg-transparent">
    
     <!-- Mask & flexbox options-->

     <!-- Content -->
     <div class="responsive text-center white-text ">

       
        <h1 class="display-4  mb-6"> <b><u>{{ questionnaire.titre }}</u></b> </h2>
        <!-- Section heading -->
        <h4 class="display-4 mt-4 mb-6">
        {% set numero_question = app.request.attributes.get('numero_question')|number_format %}
        Question N° <a  value="1" >{{ numero_question + 1 }}</a> / 50 : </h4>
                
        <h2 class="display-4 mb-5 mt-4" ><b>{{ listeQuestions[numero_question].intitule }}</b></h2>
           <div id="countdown">
            <div id="time-counter"></div>
            <svg>
              <circle cx="90" cy="90" r="60"></circle>
            </svg>
          </div>
        <!-- Grid row -->
        <div class="row justify-content-center">
            <div class="col-sm">
                <button name ="rep" id="rep0"   value="{{ listeQuestions[numero_question].reponseunjuste }}" 
                class="btn btn-lg  btn-primary col-xs-12 col-md-8"><b>{{ listeQuestions[numero_question].reponseunjuste }}</b></button>
                <button name ="rep" id="rep1"  value="{{ listeQuestions[numero_question].reponsedeuxfausse }}" 
                class="btn btn-lg  btn-danger  col-xs-12 col-md-8"><b>{{ listeQuestions[numero_question].reponsedeuxfausse }}</b></button>
            </div>
            <div class="col-sm">
                <button  name ="rep" id="rep2" value=" {{ listeQuestions[numero_question].reponsetroisfausse }}" 
                class="btn btn-lg  btn-warning col-xs-12 col-md-8"><b>{{ listeQuestions[numero_question].reponsetroisfausse }}</b></button>
                <button  name ="rep" id="rep3" value=" {{ listeQuestions[numero_question].reponsequatrefausse }}" 
                class="btn btn-lg  btn-success col-xs-12 col-md-8"><b>{{ listeQuestions[numero_question].reponsequatrefausse }}</b></button>
            </div>            
        </div>
        <!-- Grid row -->


        <div class="progress mt-4 mb-6" style="height:40px">
           
            <div  id="progress_bar" class="progress-bar progress-bar-striped progress-bar-animated bg-success"  role="progressbar" style="width:0%">
                <b><a id="score" >{% set score = app.request.attributes.get('score')|number_format %}{{ score }}</a> points</b>
            </div>
        </div> 
         
      </div>
    
</div>
{% endblock %}

{% block modaux %}
 {{ include("ATCAppBundle:Questionnaire:modal.html.twig") }}
{% endblock %}

{% block footer %}
{{ parent() }}
<script src='{{ asset("js/questionnaire.js") }}' ></script>
<style> html{
        height:100%;
      }
    
      body {
          height: 100%;
          width: 100%;
          
        }
        
        #countdown {
          position: relative;
          margin: auto;
          margin-top: 100px;
          height: 300px;
          width: 300px;
          text-align: center;
    
          
        }
        
        .circle {
          background-image:linear-gradient(red,green);
          padding:1px;
          width:300px;
          height:300px;
          border-style: solid;
          border-color:transparent;
           border-radius: 50%;
          border-width:1px;
          animation:rot 1s linear infinite; 
          padding:1px;
        }
        .circle > div {
          background:white;
          height: 299px;
          width: 299px;
          border-style: solid;
           border-radius: 50%;
          border-width:1px;
         
          
          
        }
    
    
        #time-counter {
          color: white;
          display: inline-block;
          line-height: 80px;
          font-size: 120px;
          color: white;
        }
        
        svg {
          position: absolute;
          top: -170px;
          right: 0;
          left:-60px;
          width: 100%;
          height: 100%;
          transform: rotateY(-180deg) rotateZ(-90deg);
          
          
        }
    
    
    
        svg circle {
          stroke-dasharray: 400px;
          stroke-dashoffset: 0px;
          stroke-linecap: round;
          stroke-width: 15px;
          stroke: white;
          fill: none;
          animation: countdown 5s linear forwards;
    
          
        }
        
        @keyframes countdown {
          from {
            stroke-dashoffset: 0px;
          }
          to {
            stroke-dashoffset: 400px;
          }
        }</style>
{% endblock %}