
{% extends "ATCAppBundle::index.html.twig" %}



{% block body %}
<div class= "responsive bg-transparent">
    
     <!-- Mask & flexbox options-->

     <!-- Content -->
     <div class="responsive text-center white-text ">

        <!-- Section heading -->
        <h1 class="display-4 mt-5 mb-6">{{ questionnaire.titre }} </h1>
        {% for question in listeQuestions %}
        <h2 class="mb-5" ><b>{{ question.intitule }}</b></h2>
         
      
        <!-- Grid row -->
        <div class="row justify-content-center">

            <div class="col-sm">
                <button id="rep0"  value="{{ question.reponseunjuste }}" class="btn btn-lg  btn-primary col-xs-12 col-md-8"><b>{{ question.reponseunjuste }}</b></button>
                <button id="rep1"  value="{{ question.reponsedeuxfausse }}" class="btn btn-lg  btn-danger  col-xs-12 col-md-8"><b>{{ question.reponsedeuxfausse }}</b></button>
            </div>
            <div class="col-sm">
                <button id="rep2" value=" {{ question.reponsetroisfausse }}" class="btn btn-lg  btn-warning col-xs-12 col-md-8"><b>{{ question.reponsetroisfausse }}</b></button>
                <button id="rep3" value=" {{ question.reponsequatrefausse }}" class="btn btn-lg  btn-success col-xs-12 col-md-8"><b>{{ question.reponsequatrefausse }}</b></button>
            </div>            
        </div>
        <!-- Grid row -->
        {% endfor %}

      </div>
    
</div>

{% endblock %}

{% block footer %}
{{ parent() }}
<script>

//FONCTION JS PERMETTANT D'ATTRIBUER UNE VALEUR ALEATOIRE AU QUESTION
var reponse_juste   = $('#rep0').val();

$(document).ready(function() {

var reponse0        = $('#rep0').val();
var reponse1        = $('#rep1').val();
var reponse2        = $('#rep2').val();
var reponse3        = $('#rep3').val();

var reponses = Array(reponse0,reponse1,reponse2,reponse3);
var reponse;

for(var i = 0 ; i< 4 ; i++)
{   
    reponse = reponses[Math.floor(Math.random()*reponses.length)];
    $('#rep' + i ).val(reponse).text(reponse);
    for(var j = 0; j< reponses.length ; j++)
        {
            if(reponse == reponses[j]) { reponses.splice(j,1); }
        }
}

});

</script>
{% endblock %}