{% extends "ATCAppBundle::index.html.twig" %}



{% block body %}
<div class= "responsive bg-transparent">
    
     <!-- Mask & flexbox options-->

     <!-- Content -->
     <div class="responsive text-center white-text ">

        <!-- Section heading -->
        <h1 class="display-4 mt-5 mb-6">{{ questionnaire.titre }} </h1>
        {% for question in listeQuestions %}
        <h2 class="mb-5" ><b>{{ question.intitule }}</b></h2>
         
      
        <!-- Grid row -->
        <div class="row justify-content-center">

            <div class="col-sm">
                <button name ="rep" id="rep0"  value="{{ question.reponseunjuste }}" class="btn btn-lg  btn-primary col-xs-12 col-md-8"><b>{{ question.reponseunjuste }}</b></button>
                <button name ="rep" id="rep1"  value="{{ question.reponsedeuxfausse }}" class="btn btn-lg  btn-danger  col-xs-12 col-md-8"><b>{{ question.reponsedeuxfausse }}</b></button>
            </div>
            <div class="col-sm">
                <button  name ="rep" id="rep2" value=" {{ question.reponsetroisfausse }}" class="btn btn-lg  btn-warning col-xs-12 col-md-8"><b>{{ question.reponsetroisfausse }}</b></button>
                <button  name ="rep" id="rep3" value=" {{ question.reponsequatrefausse }}" class="btn btn-lg  btn-success col-xs-12 col-md-8"><b>{{ question.reponsequatrefausse }}</b></button>
            </div>            
        </div>
        <!-- Grid row -->
        {% endfor %}

      </div>
    
</div>
{% endblock %}

{% block modaux %}
 {{ include("ATCAppBundle:Questionnaire:modal.html.twig") }}
{% endblock %}

{% block footer %}
{{ parent() }}
<script src='{{ asset("js/questionnaire.js") }}' ></script>
{% endblock %}