{% extends "ATCAppBundle::index.html.twig" %}


      

      {% block body %}
      
        <!-- Table with panel -->
        <div class=" card card-cascade responsive z-depth-4">

          <!--Card image-->
          <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mb-3 d-flex justify-content-between align-items-center ">

            <div> 
            </div>

            <a class="white-text mx-3"><i class="fas fa-award"></i>&nbsp;Questionnaires&nbsp;<i class="fas fa-award"></i></a>

            <div style="margin-right:10px;">
                <input type="search" class="input-sm form-control" placeholder="Recherche">
            </div>

          </div>
          <!--/Card image-->

          <div class="px-4">

            <div class="table-wrapper" style="overflow-y : scroll;
                                              height:500px;
                                              width:100%;
                                              ">
              <!--Table-->
              <table id="tab"  class="table table-responsive-md scroll" >

                <!--Table head-->
                <thead>
                  <tr>
                    <th data-sort="String" class="th-lg" style="cursor: pointer">
                      <i class="fas fa-grip-lines"></i>&nbsp;Titre du questionnaire
                       <i class="fas fa-angle-down"></i>
                      </a>
                    </th>
                    <th data-sort="int" class="th-lg" style="cursor: pointer">
                       <i class="fas fa-paw"></i>&nbsp;Theme du questionnaire
                        <i class="fas fa-angle-down"></i>
                      </a>
                    </th>
                    <th data-sort="String" class="th-lg" style="cursor: pointer">
                      <i class="fas fa-stream"></i>&nbsp;Difficulté du questionnaire
                        <i class="fas fa-angle-down"></i>
                      </a>
                    </th>
                    <th data-sort="String" class="th-lg" style="cursor: pointer">
                      <i class="fas fa-align-justify"></i>&nbsp;Voir/Supprimer Questionnaire
                        <i class="fas fa-angle-down"></i>
                      </a>
                    </th>
                  </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>

            
              {% for questionnaire in questionnaires %}
               
                    <tr class="text-center">
                      <td >{{ questionnaire.titre }}</td>
                      <td >{{ questionnaire.theme.nom }}</td>
                      <td >{{ questionnaire.difficulte.nom }}</td>
                      <td>
                      <div  id="{{ questionnaire.titre }}" class="btn btn-primary btn-voir"><i class="fas fa-eye"></i></div>&nbsp;
                      <div  id="{{ questionnaire.titre }}" class="btn btn-danger btn-supprimer"><i class="fas fa-trash-alt"></i></div></td>
                    </tr>
                 
                {% endfor %}

                </tbody>
                <!--Table body-->
              </table>
              <!--Table-->
            </div>

          </div>

        </div>
        <!-- Table with panel -->

        {# MODAL POUR AFFICHER LES QUESTION #}
        <!-- Central Modal Medium Info -->
          <div class="modal fade left" id="modal_questions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-fluid modal-notify modal-info " role="document">
              <!--Content-->
              <div class="modal-content">
                <!--Header-->
                <div class="modal-header aligne-align-content-center">
                  <p class="heading lead ">Questions du questionnaire : <a id="question_titre" ></z></p>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">

                          <div class="table-wrapper-scroll-y my-custom-scrollbar">

                            <table id="tableau_question" class="table table-bordered table-striped mb-0">
                              <thead>
                                <tr class="grey lighten-1 text-center">
                                  <th scope="col">Intitule</th>
                                  <th scope="col">Question Juste</th>
                                  <th scope="col">Question Fausse ( N °1 )</th>
                                  <th scope="col">Question Fausse ( N °2 )</th>
                                  <th scope="col">Question Fausse ( N °3 )</th>
                                  <th scope="col">Corriger la question</th>
                                </tr>
                              </thead>
                              <tbody class="text-center">
                                <tr></tr>
                              </tbody>
                            </table>

                          </div>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                  <a type="button" class="btn btn-info" data-dismiss="modal">Quitter</i></a>
                </div>
              </div>
            <!--/.Content-->
          </div>
        </div>
        <!-- Central Modal Medium Info-->
        {% endblock %}
 
 {% block footer %}
{{ parent() }} 
{########### FILTRE LE TABLEAU #########}
<script> 
    $(document).on('click', 'th', function() {
    var table = $(this).parents('table').eq(0);
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
    this.asc = !this.asc;
    if (!this.asc) {
        rows = rows.reverse();
    }
    table.children('tbody').empty().html(rows);
    });

    function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index),
        valB = getCellValue(b, index);
        return $.isNumeric(valA) && $.isNumeric(valB) ?
        valA - valB : valA.localeCompare(valB);
    };
    }

    function getCellValue(row, index) {
    return $(row).children('td').eq(index).text();
    }


{############ SUPPRIME LE QUESTIONNAIRE SELECTIONNE ############}

$(".btn-supprimer").click(function (e) { 
    e.preventDefault();

    var titre = $(this).attr('id');

    $.ajax({
        type: "post",
        url:  "{{ path('administrateur_delete') }}",
        data: "titre=" + titre,
        dataType: "html"
    });
});

$(".btn-voir").click(function (e) { 
    e.preventDefault();

    var titre = $(this).attr('id');
  
    
        $ajaxReponse = $.ajax({
        url:  "{{ path('administrateur_delete') }}",
        data: "titre=" + titre,
        dataType: "json",
        async : false
    });

      var reponse = JSON.parse($ajaxReponse.responseText);

      reponse.forEach(function(element) {

        $('#tableau_question tr:last').after( '<tr>'+
                                              '<td>'+ element.intitule +'</td>'+
                                              '<td>'+ element.reponseUne +'</td>'+
                                              '<td>'+ element.reponseDeux +'</td>'+
                                              '<td>'+ element.reponseTrois +'</td>'+
                                              '<td>'+ element.reponseQuatre +'</td>'+
                                              '<td class="text-center"><a href="#" class="btn btn-success"><i class="far fa-edit"></i></td>'+
                                              '</tr>' );

      });

      $('#modal_questions').modal("show");
      $('#question_titre').text(titre);
      
    
});

</script>
{% endblock %}