{% extends "ATCAppBundle::index.html.twig" %}

{% block fond_anime %}
    <img src="{{  asset('images/fonds/fond_desert.gif') }}" class="fond">
{% endblock %}

{% block body %}
<div class="rem-5 responsive ">

    <!-- Default form contact -->
    <form class="text-center border border-light p-5" action="{{ path('administrateur_ajout_questionnaire') }}">

        <p class="h4 mb-4">Entre les informations pour créer le questionnaire</p>

        <!-- Nom -->
        <input type="text" name="titre" class="form-control mb-4" placeholder="Ecrit ici le titre du formulaire" required="">

        <!-- Themes -->
        <label>Selectionne le thémes du formulaire</label>
        <select name="theme" class="browser-default custom-select mb-4" required="" id="theme">
            <option value="" selected>Clique pour sélectionner</option>
            {% for theme in themes %}
            <option value="{{ theme.nom }}">{{ theme.nom }}</option>
            {% endfor %}
            <option value="autres">Autres</option>
        </select>
        
            <!-- Autres -->
        <input type="text" id="other" class="form-control mb-4" placeholder="Themes du formulaire">

        

        <!-- Difficulté -->
        <label>Sélectionne la difficulté du formulaire</label>
        <select name="difficulte" class="browser-default custom-select mb-4" required="">
            <option value="" selected>Clique pour sélectionner</option>
            {% for difficulte in difficultes %}
            <option value="{{ difficulte.nom }}">{{ difficulte.nom }}</option>
            {% endfor %}
        </select>

        <!-- Send button -->
        <button class="btn btn-info btn-block" type="submit">Valider</button>

    </form>
    <!-- Default form contact -->

    <!-- Content here -->
</div>

{% endblock %}

{% block footer %}
{{ parent() }}
 <script src="{{  asset('js/administrateur.js') }}"></script>
 {% endblock %}