
{% extends "ATCAppBundle::index.html.twig" %}

{% block body %}
<div class="view">
    <img src="{{  asset('img/fond2.gif') }}" class="fond">
    

     <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="text-center white-text mx-5 wow fadeIn ">

        <!-- Section heading -->
        
        <h1 class="display-4 mt-5 mb-6">{{ questionnaire.titre }} </h1>
          <h2 class="mb-5"> Sélectionne la bonne réponse à la question.</h2>
     
        {% for question in listeQuestions %}
        <!-- Grid row -->
        <div class="container align-items-center ">
            <div class="row justify-content-center align-items-center">
                <div class=" btn-primary btn-lg col-12 col-sm-6 col-lg-8" >{{ question.intitule }}</div>
            </div>
            <div class="row justify-content-center  ">
                <div class="btn btn-lg  btn-primary col-6 col-sm-4">{{ question.reponseunjuste }}</div>
                <div class="btn btn-lg  btn-primary col-6 col-sm-4">{{ question.reponsedeuxfausse }}</div>
            </div>
            <div class="row  justify-content-center">
                <div class="btn btn-lg  btn-primary col-6 col-sm-4">{{ question.reponsetroisfausse }}</div>
                <div class="btn btn-lg  btn-primary col-6 col-sm-4">{{ question.reponsequatrefausse }}</div>
            </div>
           
        </div>
        <!-- Grid row -->
        {% endfor %}

      </div>
    </div>
</div>
{% endblock %}