{% extends "ATCAppBundle::index.html.twig" %}

{% block fond_anime %}

<img src="{{ asset('images/diplome.png')}}" class="fond reponsive" >


{% endblock %}

{% block body %}

<div id="pdf">
    <h1>Bravo&nbsp;<a id="pseudo">{{joueur.pseudo}}</a> !!</h1>
    <h1>Tu as eu :&nbsp;<a id="score">{{joueur.score}}</a> points </h1>
    <h1>Au questionnaire :&nbsp;<a id="titre">{{app.session.get('titre')}}</a></h1>
    <h1>avec le la difficulte :&nbsp;<a id="difficulte">{{joueur.questionnaire.difficulte.nom}}</a></h1>
    <h1>et le theme :&nbsp;<a id="theme">{{joueur.questionnaire.theme.nom}}</a></h1>
</div>


{# MODAL AJOUT JOUEUR #}
<div class="modal fade" id="centralModalScoreSave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">&nbsp;FELICITATIONS TU AS PLUS DE 20 POINTS&nbsp;</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-crown fa-4x mb-3 animated rotateIn"></i>
          <p><i class="fas fa-star fa-spin fa-lg"></i>&nbsp;Toutes nos félicitations !&nbsp;
          <i class="fas fa-star fa-spin fa-lg"></i></p><p> Tu viens de finir le questionnaire.</br>   
          <strong><u>Tu as eu un super score !</u></strong></p>
          <p><strong>Veux tu enregistrer ton score ? </strong>  </p>
        </div>
      </div>
    
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a id="ajouter_joueur" class="btn btn-outline-warning waves-effect" data-dismiss="modal">&nbsp;OUI&nbsp;<i class="fas fa-check"></i></i></a>
        <a class="btn btn-outline-warning waves-effect" data-dismiss="modal">&nbsp;NON&nbsp;<i class="fas fa-times"></i></i></a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
{% endblock %}

{% block footer %}
{{ parent() }}

<script>
  if( $('#score').text() > 20)
  {
      $('#centralModalScoreSave').modal('show');
      $('#ajouter_joueur').click(function (e) { 
          e.preventDefault();

          var score       = $('#score').text();
          var titre       = $('#titre').text();
          var theme       = $('#theme').text();
          var difficulte  = $('#difficulte').text();
          console.log(titre);
          $.ajax({
              type: "post",
              url: "{{ path('joueur_add') }}",
              data: "score=" + score + "&theme=" + theme + "&difficulte=" + difficulte + "&titre=" + titre ,
              dataType: "html",
              success: function (response) {
                  $('#centralModalScoreSave').modal('hide');
              }
          });
          
      });
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script> 
<script>
function demoFromHTML() {

var doc = new jsPDF();
var imgData = "D:\wamp64\www\QuestionnaireLudique\web\images\images_theme\theme1.png";
doc.setFontSize(40)
doc.text(35, 25, 'Paranyan loves jsPDF')
doc.addImage(imgData, 'PNG', 15, 40, 180, 160)

doc.output('dataurl');
}
</script>
{% endblock %}  