{% extends "ATCAppBundle::index.html.twig" %}

{% block fond_anime %}

<img src="{{ asset('images/diplome.png')}}" class="fond"  style="padding-top :5%; padding-bottom :5%; padding-right :10%; padding-left :10%;">
<button id="cmd">Télécharge ton précieux diplome!</button>

{% endblock %}

{% block body %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">NOM</th>
      <th scope="col">{{ score }}</th>
      <th scope="col">{{ theme.nom }}</th>
      <th scope="col">{{ difficulte.nom }}</th>
    </tr>
  </thead>
</table>
<div class="d-inline-flex p-2 bd-highlight" style="" >{{score}}</h3>




{% endblock %}

{% block footer %}
{{ parent() }}
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
{% endblock %}  