{% extends "ATCAppBundle::index.html.twig" %}

{% block fond_anime %}
    <img src="{{  asset('img/fond.gif') }}" class="fond">
{% endblock %}

{% block body %}
    <section class="text-center my-5">
                <div class="container">
                    <!-- Section heading -->
                    <h2 class="h1-responsive  font-weight-bold text-center my-5"> {{ app.request.attributes.get('difficulte') }} : Sélectionnez votre thème favoris !</h2>
                    
                </div>
                <!-- Grid row -->
                <div class="row justify-content-center">

                    <!-- Grid column -->
                    <div class="col-md-5 mb-md-0 mb-4 ">
                    <div class="card card-image  " style="background-image: url( {{  asset('img/math.jpg') }} ); background-size: 100% 100%;">
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                        <div>
                            <h6 class="pink-text">
                            <i class="fas fa-chart-pie"></i>
                            <strong> MATHEMATIQUES</strong>
                            </h6>
                            <h3 class="py-3  font-weight-bold">
                            <strong>Choisis le questionnaire de Mathématiques</strong>
                            </h3>
                    
                            <a href="{{ path('questionnaire' , {'difficulte' : app.request.attributes.get('difficulte') , 'theme' : 'math' , 'id' : '40'}) }}" class="btn purple-gradient"><i class="fas fa-clone left"></i> Lancement du questionnaire </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-5">
                    <div class="card card-image"  style = " background-image: url({{  asset('img/geo.png') }}) ; background-size: 100% 100%;">
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                        <div>
                            <h6 class="green-text">
                            <i class="fas fa-eye"></i>
                            <strong> GEOGRAPHIE</strong>
                            </h6>
                            <h3 class="py-3  font-weight-bold">
                            <strong>Choisis le questionnaire de Géographie</strong>
                            </h3>
                            
                            <a class="btn blue-gradient"><i class="fas fa-clone left"></i> Lancement du questionnaire </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- Grid column -->

                 </div>

                    <div class="row justify-content-center">

                    <!-- Grid column -->
                    <div class="col-md-5 mb-md-0 mb-4 ">
                        <div class="card card-image"  style = " background-image: url({{  asset('img/francais.jpeg') }}); background-size: 100% 100%;">
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                        <div>
                            <h6 class="pink-text">
                            <i class="fas fa-chart-pie"></i>
                            <strong> FRANCAIS</strong>
                            </h6>
                            <h3 class="py-3  font-weight-bold">
                            <strong>Choisis le questionnaire de Français</strong>
                            </h3>
                    
                            <a class="btn purple-gradient"><i class="fas fa-clone left"></i> Lancement du questionnaire </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-5">
                    <div class="card card-image"  style = " background-image: url({{  asset('img/histoire.jpeg') }}); background-size: 100% 100%;">
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                        <div>
                            <h6 class="green-text">
                            <i class="fas fa-eye"></i>
                            <strong> HISTOIRE</strong>
                            </h6>
                            <h3 class="py-3  font-weight-bold">
                            <strong>Choisis le questionnaire d'Histoire</strong>
                            </h3>
                            
                            <a class="btn blue-gradient"><i class="fas fa-clone left"></i> Lancement du questionnaire </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- Grid column -->
                 </div>

                 <div class="row justify-content-center">

                    <!-- Grid column -->
                    <div class="col-md-5 mb-md-0 mb-4 ">
                    <div class="card card-image  " style="background-image: url({{  asset('img/sport.jpeg') }}); background-size: 100% 100%;">
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                        <div>
                            <h6 class="pink-text">
                            <i class="fas fa-chart-pie"></i>
                            <strong> SPORT</strong>
                            </h6>
                            <h3 class="py-3  font-weight-bold">
                            <strong>Choisis le questionnaire de Sport</strong>
                            </h3>
                    
                            <a class="btn purple-gradient"><i class="fas fa-clone left"></i> Lancement du questionnaire </a>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-5 mb-md-0 mb-4 ">
                        <div class="card card-image  " style="background-image: url({{  asset('img/sport.jpeg') }}); background-size: 100% 100%;">
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                            <div>
                                <h6 class="pink-text">
                                <i class="fas fa-chart-pie"></i>
                                <strong> SPORT</strong>
                                </h6>
                                <h3 class="py-3  font-weight-bold">
                                <strong>Choisis le questionnaire de sport</strong>
                                </h3>
                        
                                <a class="btn purple-gradient"><i class="fas fa-clone left"></i> Lancement du questionnaire </a>
                            </div>
                            </div>
                        </div>
                        </div>
                    <!-- Grid column -->
                 </div>
                
                </div>
            </section>
            {% endblock %}